.list {
  margin: 2rem auto;
  max-width: 40rem;
}

.list a {
  text-transform: capitalize;
  display: block;
  margin: 1rem;
  padding: 1.5rem 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #1D5D9B;
  color: #F4D160;
  text-decoration: none;
  border-radius: 10px;
}

.list a:hover {
  background-color: #236bb3;
}